
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Iniciar Sesión</h4>
	<p class="divider-text">
        <hr>
    </p>
	<form>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-users"></i> </span>
		 </div>
        <input id="usuario" class="form-control" placeholder="Nombre Usuario" type="text">
    </div> <!-- form-group// -->
    <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="password" class="form-control" placeholder="Password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group">
        <div id="datos_requeridos"></div>
    </div>            
    <div class="form-group">
        <button type="button" id="btnIniciar" class="btn btn-primary btn-block"> Iniciar Sesión  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">No tiene una cuenta? <a id="btnregistrar" href="#">Registrarse</a> </p>                                                                 
</form>
</article>

</div> 
<!--container end.//-->
<script src="assets/js/usuario.js"></script>