<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 id="tituloregistro" class="card-title mt-3 text-center">Crear Cuenta</h4>
	<p class="text-center elregistro">Empiece con su cuenta gratuita</p>
	<p class="divider-text">
        <hr>
    </p>
    <p class="mt-3 text-center" id="ppuntos">Puntos: <label id="puntos">0</label></p>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="nombre" class="form-control" placeholder="Nombre completo" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input id="email" class="form-control" placeholder="Email" type="email">
    </div>
    <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-users"></i> </span>
		 </div>
        <input id="usuario" class="form-control" placeholder="Nombre Usuario" type="text">
    </div> <!-- form-group// -->
    <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-gamepad"></i> </span>
		</div>
		<select id="favorito" class="form-control">
			<option selected="" value="0">Juego favorito</option>
			<option value="Dota 2">Dota 2</option>
			<option value="Counter Strike">Counter Strike</option>
            <option value="Fortnite">Fortnite</option>
            <option value="League of Legends">League of Legends</option>
            <option value="Fifa">Fifa</option>
            <option value="Call of Duty Warzone">Call of Duty Warzone</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="password" class="form-control" placeholder="Crear password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="confirmarpass" class="form-control" placeholder="Repetir password" type="password">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="button" id="btnCrear" class="btn btn-primary btn-block"> Crear Cuenta  </button>
    </div> <!-- form-group// -->
    <div class="form-group">
        <div id="datos_requeridos"></div>
    </div>
    <p class="text-center elregistro">Tiene una cuenta? <a id="btniniciar" href="#">Iniciar sesión</a> </p>                                                                 
</form>
</article>

</div> 
<!--container end.//-->
<script src="assets/js/usuario.js"></script>