
.contact
  .contact-about
    h3
      font-size: 28px
      margin: 0 0 10px 0
      padding: 0
      line-height: 1
      font-weight: 700
      letter-spacing: 1px
      color: #222222

    p
      font-size: 14px
      line-height: 24px
      font-family: "Raleway", sans-serif
      color: #888

  .social-links
    padding-bottom: 20px

    a
      font-size: 18px
      display: inline-block
      background: #fff
      color: #3498db
      line-height: 1
      padding: 8px 0
      margin-right: 4px
      border-radius: 50%
      text-align: center
      width: 36px
      height: 36px
      transition: 0.3s
      border: 1px solid #3498db

      &:hover
        background: #3498db
        color: #fff

  .info
    color: #444444

    i
      font-size: 32px
      color: #3498db
      float: left
      line-height: 1

    p
      padding: 0 0 10px 42px
      line-height: 28px
      font-size: 14px

  .php-email-form
    .validate
      display: none
      color: red
      margin: 0 0 15px 0
      font-weight: 400
      font-size: 13px

    .error-message
      display: none
      color: #fff
      background: #ed3c0d
      text-align: center
      padding: 15px
      font-weight: 600

    .sent-message
      display: none
      color: #fff
      background: #18d26e
      text-align: center
      padding: 15px
      font-weight: 600

    .loading
      display: none
      background: #fff
      text-align: center
      padding: 15px

      &:before
        content: ""
        display: inline-block
        border-radius: 50%
        width: 24px
        height: 24px
        margin: 0 10px -6px 0
        border: 3px solid #18d26e
        border-top-color: #eee
        -webkit-animation: animate-loading 1s linear infinite
        animation: animate-loading 1s linear infinite

    input, textarea
      border-radius: 0
      box-shadow: none
      font-size: 14px

    button[type="submit"]
      background: #3498db
      border: 0
      padding: 10px 24px
      color: #fff
      transition: 0.4s
      border-radius: 50px

      &:hover
        background: #2383c4

@-webkit-keyframes animate-loading
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes animate-loading
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
