
#header
  height: 80px
  z-index: 997
  transition: all 0.5s
  background-color: #313030

  &.header-scrolled
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1)
    height: 60px
    background: #313030

  .logo
    h1
      font-size: 32px
      margin: 0
      padding: 0
      line-height: 1
      font-weight: 700
      letter-spacing: 1px

      a
        color: white
        text-decoration: none
        text-shadow: 2px 0 0 #3498db, -2px 0 0 #3498db, 0 2px 0 #3498db, 0 -2px 0 #3498db, 1px 1px #3498db, -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db

        &:hover
          color: white
          text-decoration: none
          text-shadow: 2px 0 0 #3498db, -2px 0 0 #3498db, 0 2px 0 #3498db, 0 -2px 0 #3498db, 1px 1px #3498db, -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db

    img
      padding: 0
      margin: 0
      max-height: 40px

@media (max-width: 768px)
  #header
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1)
    height: 60px
    background: #fff

    .logo h1
      font-size: 28px

.nav-menu
  margin: 0
  padding: 0
  list-style: none

  *
    margin: 0
    padding: 0
    list-style: none

  > ul > li
    position: relative
    white-space: nowrap
    float: left

  a
    display: block
    position: relative
    color: #f5f3f3
    padding: 8px 0 12px 25px
    transition: 0.3s
    font-size: 14px
    font-family: "Open Sans", sans-serif

    &:hover
      color: #3498db
      text-decoration: none

  .active > a, li:hover > a
    color: #3498db
    text-decoration: none

  .get-started a
    background: #3498db
    color: #fff
    border-radius: 50px
    margin: 0 0 0 30px
    padding: 10px 25px

    &:hover
      background: #57aae1
      color: #fff

  .drop-down
    ul
      display: block
      position: absolute
      top: calc(100% + 30px)
      z-index: 99
      opacity: 0
      visibility: hidden
      padding: 10px 0
      background: transparent
      transition: ease all 0.3s
      border-radius: 5px

    &:hover > ul
      opacity: 1
      top: 100%
      visibility: visible

.perfil
  color: white !important

.nav-menu .drop-down
  li
    min-width: 180px
    position: relative

  ul
    a
      padding: 10px 20px
      font-size: 14px
      text-transform: none

      &:hover
        color: white

    .active > a, li:hover > a
      color: white

  > a:after
    content: "\ea99"
    font-family: IcoFont
    padding-left: 5px

  .drop-down
    ul
      top: 0
      left: calc(100% - 30px)

    &:hover > ul
      opacity: 1
      top: 0
      left: 100%

    > a
      padding-right: 35px

      &:after
        content: "\eaa0"
        font-family: IcoFont
        position: absolute
        right: 15px

@media (max-width: 1366px)
  .nav-menu .drop-down .drop-down
    ul
      left: -90%

    &:hover > ul
      left: -100%

    > a:after
      content: "\ea9d"