.slider
  width: 320px
  height: 200px
  position: relative
  animation: mymove 10s infinite
  background-size: 320px 200px
  background-repeat: no-repeat

@keyframes mymove
  0%
    opacity: 0

  25%
    opacity: 1
    background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2018/02/285665-como-mejorar-seguridad-tus-consolas-ps4-nintendo-switch-xbox-one.jpg?itok=w3bXlZqt)

  50%
    opacity: 0

  75%
    opacity: 1
    background-image: url(https://img.europapress.es/fotoweb/fotonoticia_20130524153455_420.jpg)

  100%
    opacity: 0