@charset "UTF-8";
.slider {
  width: 320px;
  height: 200px;
  position: relative;
  animation: mymove 10s infinite;
  background-size: 320px 200px;
  background-repeat: no-repeat; }

@keyframes mymove {
  0% {
    opacity: 0; }
  25% {
    opacity: 1;
    background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2018/02/285665-como-mejorar-seguridad-tus-consolas-ps4-nintendo-switch-xbox-one.jpg?itok=w3bXlZqt); }
  50% {
    opacity: 0; }
  75% {
    opacity: 1;
    background-image: url(https://img.europapress.es/fotoweb/fotonoticia_20130524153455_420.jpg); }
  100% {
    opacity: 0; } }
#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
  background-color: #313030; }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 60px;
    background: #313030; }
  #header .logo h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px; }
    #header .logo h1 a {
      color: white;
      text-decoration: none;
      text-shadow: 2px 0 0 #3498db, -2px 0 0 #3498db, 0 2px 0 #3498db, 0 -2px 0 #3498db, 1px 1px #3498db, -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db; }
      #header .logo h1 a:hover {
        color: white;
        text-decoration: none;
        text-shadow: 2px 0 0 #3498db, -2px 0 0 #3498db, 0 2px 0 #3498db, 0 -2px 0 #3498db, 1px 1px #3498db, -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db; }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px; }

@media (max-width: 768px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 60px;
    background: #fff; }
    #header .logo h1 {
      font-size: 28px; } }
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left; }
  .nav-menu a {
    display: block;
    position: relative;
    color: #f5f3f3;
    padding: 8px 0 12px 25px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    .nav-menu a:hover {
      color: #3498db;
      text-decoration: none; }
  .nav-menu .active > a, .nav-menu li:hover > a {
    color: #3498db;
    text-decoration: none; }
  .nav-menu .get-started a {
    background: #3498db;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 30px;
    padding: 10px 25px; }
    .nav-menu .get-started a:hover {
      background: #57aae1;
      color: #fff; }
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: transparent;
    transition: ease all 0.3s;
    border-radius: 5px; }
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible; }

.perfil {
  color: white !important; }

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative; }
.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none; }
  .nav-menu .drop-down ul a:hover {
    color: white; }
.nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: white; }
.nav-menu .drop-down > a:after {
  content: "";
  font-family: IcoFont;
  padding-left: 5px; }
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px); }
.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%; }
.nav-menu .drop-down .drop-down > a {
  padding-right: 35px; }
  .nav-menu .drop-down .drop-down > a:after {
    content: "";
    font-family: IcoFont;
    position: absolute;
    right: 15px; }

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%; }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%; }
  .nav-menu .drop-down .drop-down > a:after {
    content: ""; } }
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222; }
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888; }
.contact .social-links {
  padding-bottom: 20px; }
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #3498db;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #3498db; }
    .contact .social-links a:hover {
      background: #3498db;
      color: #fff; }
.contact .info {
  color: #444444; }
  .contact .info i {
    font-size: 32px;
    color: #3498db;
    float: left;
    line-height: 1; }
  .contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px; }
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px; }
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600; }
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600; }
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px; }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite; }
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px; }
.contact .php-email-form button[type="submit"] {
  background: #3498db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px; }
  .contact .php-email-form button[type="submit"]:hover {
    background: #2383c4; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#footer {
  background: #313030;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: white;
  font-size: 14px; }
  #footer .credits {
    font-size: 13px;
    padding-top: 5px;
    color: white; }
  #footer .footer-links a {
    color: white;
    padding-left: 15px; }
    #footer .footer-links a:first-child {
      padding-left: 0; }
    #footer .footer-links a:hover {
      color: #3498db; }

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }
  .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2; }
  .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1; }

#ppuntos {
  display: none; }

.img_duelos {
  max-width: 300px; }

.fa-check-square {
  color: green; }

.btnTablaTorneo, #btnAgregarTorneo {
  cursor: pointer; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  color: black; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

.descripciontorneo {
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #262626; }

a {
  color: #3498db; }
  a:hover {
    color: #5faee3;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }
  .mobile-nav-toggle i {
    color: #222222; }

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0; }
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mobile-nav a {
    display: block;
    position: relative;
    color: #222222;
    padding: 10px 20px;
    font-weight: 500;
    outline: none; }
    .mobile-nav a:hover {
      color: white;
      text-decoration: none; }
  .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: white;
    text-decoration: none; }
  .mobile-nav .get-started {
    text-align: center;
    margin-top: 10px; }
    .mobile-nav .get-started a {
      background: #3498db;
      color: #fff;
      border-radius: 50px;
      margin: 0 15px;
      padding: 10px 30px;
      display: inline-block; }
      .mobile-nav .get-started a:hover {
        background: #57aae1;
        color: #fff; }
  .mobile-nav .drop-down > a:after {
    content: "";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px; }
  .mobile-nav .active.drop-down > a:after {
    content: ""; }
  .mobile-nav .drop-down > a {
    padding-right: 35px; }
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden; }
  .mobile-nav .drop-down li {
    padding-left: 20px; }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s; }

.mobile-nav-active {
  overflow: hidden; }
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible; }
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff; }

#hero {
  width: 100%;
  height: 70vh;
  margin-top: 70px; }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px; }
  #hero h2 {
    color: #f5f3f3;
    margin-bottom: 50px;
    font-size: 24px; }
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db; }
    #hero .btn-get-started:hover {
      background: #3498db;
      color: #fff; }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both; }

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; } }
@media (max-width: 991px) {
  #hero {
    height: 100vh; }
    #hero .animated {
      -webkit-animation: none;
      animation: none; }
    #hero .hero-img {
      text-align: center; }
      #hero .hero-img img {
        width: 50%; } }
@media (max-width: 768px) {
  #hero {
    margin-top: 20px; }
    #hero h1 {
      font-size: 28px;
      line-height: 36px; }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px; }
    #hero .hero-img img {
      width: 70%; } }
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%; } }
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }
@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }
/* NUEVO CSS */
.botonperfil {
  margin: 40px 20px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  background: transparent;
  padding: 15px;
  border: 1px solid #3498db !important;
  transition: all 0.4s ease 0s;
  border-radius: 5px; }
  .botonperfil:hover {
    color: #ffffff !important;
    background: #3498db;
    transition: all 0.4s ease 0s; }

.botonperfil2 {
  margin: 10px 0px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  color: #494949 !important;
  text-decoration: none;
  background: #e7e3e3;
  padding: 15px;
  border: 1px solid #acacac !important;
  transition: all 0.4s ease 0s;
  border-radius: 5px; }
  .botonperfil2:hover {
    background: #f1f1f1;
    transition: all 0.4s ease 0s; }

.inputperfil {
  padding: 10px;
  border: 0;
  width: 200px;
  border-bottom: 1px solid #d1c6c6;
  margin: 13px; }

.inputerror {
  border: 3px solid red; }

.selectperfil {
  padding: 10px;
  border: 0;
  width: 220px;
  border-bottom: 1px solid #d1c6c6;
  margin: 13px;
  margin-left: 10px; }

#datos_requeridos {
  color: #e73939;
  font-size: 12px; }

#map {
  height: 400px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
