@import 'premios'
@import 'menu'
@import 'contact'
@import 'footer'
@import 'registro'
@import 'torneos'

body
  font-family: "Open Sans", sans-serif
  color: white
  background-color: #262626

a
  color: #3498db

  &:hover
    color: #5faee3
    text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: "Raleway", sans-serif



/* Mobile Navigation

.mobile-nav-toggle
  position: fixed
  right: 15px
  top: 15px
  z-index: 9998
  border: 0
  background: none
  font-size: 24px
  transition: all 0.4s
  outline: none !important
  line-height: 1
  cursor: pointer
  text-align: right

  i
    color: #222222

.mobile-nav
  position: fixed
  top: 55px
  right: 15px
  bottom: 15px
  left: 15px
  z-index: 9999
  overflow-y: auto
  background: #fff
  transition: ease-in-out 0.2s
  opacity: 0
  visibility: hidden
  border-radius: 10px
  padding: 10px 0

  *
    margin: 0
    padding: 0
    list-style: none

  a
    display: block
    position: relative
    color: #222222
    padding: 10px 20px
    font-weight: 500
    outline: none

    &:hover
      color: white
      text-decoration: none

  .active > a, li:hover > a
    color: white
    text-decoration: none

  .get-started
    text-align: center
    margin-top: 10px

    a
      background: #3498db
      color: #fff
      border-radius: 50px
      margin: 0 15px
      padding: 10px 30px
      display: inline-block

      &:hover
        background: #57aae1
        color: #fff

  .drop-down > a:after
    content: "\ea99"
    font-family: IcoFont
    padding-left: 10px
    position: absolute
    right: 15px

  .active.drop-down > a:after
    content: "\eaa1"

  .drop-down
    > a
      padding-right: 35px

    ul
      display: none
      overflow: hidden

    li
      padding-left: 20px

.mobile-nav-overly
  width: 100%
  height: 100%
  z-index: 9997
  top: 0
  left: 0
  position: fixed
  background: rgba(9, 9, 9, 0.6)
  overflow: hidden
  display: none
  transition: ease-in-out 0.2s

.mobile-nav-active
  overflow: hidden

  .mobile-nav
    opacity: 1
    visibility: visible

  .mobile-nav-toggle i
    color: #fff

#hero
  width: 100%
  height: 70vh
  margin-top: 70px

  h1
    margin: 0 0 10px 0
    font-size: 48px
    font-weight: 700
    line-height: 56px

  h2
    color: #f5f3f3
    margin-bottom: 50px
    font-size: 24px

  .btn-get-started
    font-family: "Raleway", sans-serif
    font-weight: 500
    font-size: 16px
    letter-spacing: 1px
    display: inline-block
    padding: 10px 30px
    border-radius: 50px
    transition: 0.5s
    color: #3498db
    border: 2px solid #3498db

    &:hover
      background: #3498db
      color: #fff

  .animated
    animation: up-down 2s ease-in-out infinite alternate-reverse both

@media (min-width: 1024px)
  #hero
    background-attachment: fixed

@media (max-width: 991px)
  #hero
    height: 100vh

    .animated
      -webkit-animation: none
      animation: none

    .hero-img
      text-align: center

      img
        width: 50%

@media (max-width: 768px)
  #hero
    margin-top: 20px

    h1
      font-size: 28px
      line-height: 36px

    h2
      font-size: 18px
      line-height: 24px
      margin-bottom: 30px

    .hero-img img
      width: 70%

@media (max-width: 575px)
  #hero .hero-img img
    width: 80%

@-webkit-keyframes up-down
  0%
    transform: translateY(10px)

  100%
    transform: translateY(-10px)

@keyframes up-down
  0%
    transform: translateY(10px)

  100%
    transform: translateY(-10px)



/* NUEVO CSS

.botonperfil
  margin: 40px 20px
  width: 200px
  font-weight: bold
  cursor: pointer
  color: white !important
  text-decoration: none
  background: transparent
  padding: 15px
  border: 1px solid #3498db !important
  transition: all 0.4s ease 0s
  border-radius: 5px

  &:hover
    color: #ffffff !important
    background: #3498db
    transition: all 0.4s ease 0s

.botonperfil2
  margin: 10px 0px
  width: 200px
  font-weight: bold
  cursor: pointer
  color: #494949 !important
  text-decoration: none
  background: #e7e3e3
  padding: 15px
  border: 1px solid #acacac !important
  transition: all 0.4s ease 0s
  border-radius: 5px

  &:hover
    background: #f1f1f1
    transition: all 0.4s ease 0s

.inputperfil
  padding: 10px
  border: 0
  width: 200px
  border-bottom: 1px solid #d1c6c6
  margin: 13px

.inputerror
  border: 3px solid red

.selectperfil
  padding: 10px
  border: 0
  width: 220px
  border-bottom: 1px solid #d1c6c6
  margin: 13px
  margin-left: 10px

#datos_requeridos
  color: #e73939
  font-size: 12px


#map
  height: 400px
  width: 100%

