
.img_duelos
  max-width: 300px

.fa-check-square
  color: green

.btnTablaTorneo, #btnAgregarTorneo
  cursor: pointer

table
  font-family: arial, sans-serif
  border-collapse: collapse
  width: 100%
  background-color: white
  color: black

td, th
  border: 1px solid #dddddd
  text-align: left
  padding: 8px

tr:nth-child(even)
  background-color: #dddddd

.descripciontorneo
  width: 100%
