<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
                &copy; Copyright <strong>Enmanuelle Salas</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Enmanuelle Salas
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                <a href="index.html">Home</a>
                <a href="torneos.html">Torneos</a>
                <a href="premios.html">Premios</a>
                <a href="contacto.html">Contacto</a>
                <a href="duelos.html">Duelos</a>
            </nav>
        </div>
    </div>
</div>