<div class="container d-flex align-items-center">

    <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Competitive CR</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li id="menuhome"><a href="index.html">Home</a></li>
            <li id="menutorneos"><a href="torneos.html">Torneos</a></li>
            <li id="menupremios"><a href="premios.html">Premios</a></li>
            <li id="menucontacto"><a href="contacto.html">Contacto</a></li>
            <li id="menuduelos"><a href="duelos.html">Duelos</a></li>
            <li id="menu_perfil" class="get-started"><a class="perfil" href="empezar.html">Empezar</a></li>
        </ul>
    </nav>
    <!-- .nav-menu -->

</div>
<script src="assets/js/header.js"></script>